<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        h1 {
            text-align: center;
            margin: 10px 10px 20px 10px;
            color: rgb(17, 15, 15);
            font-family: Cursive;
        }

        .order-box {
            margin: 32px 18px;
            padding: 5px 13px;
            border: 3px solid black;
            border-radius: 15px;
        }

        div>p {
            margin: 0px;
            padding: 0px;
            text-align: center;
        }

        div>h6 {
            padding-left: 20px;
        }

        .order-box>hr {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .tick {
            text-align: center;
        }

        .order-box:nth-child(5n+1) {
            background-color: rgb(248, 217, 238);
        }

        .order-box:nth-child(5n+2) {
            background-color: rgb(248, 228, 217);
        }

        .order-box:nth-child(5n+3) {
            background-color: rgb(219, 217, 248);
        }

        .order-box:nth-child(5n+4) {
            background-color: rgb(217, 248, 230);
        }

        .order-box:nth-child(5n+5) {
            background-color: rgb(237, 248, 217);
        }

        .boxy {
            margin: 0 20px;
            padding: 1px 15px;
            background-color: rgb(255, 255, 251);
            border: 2px solid black;
            border-radius: 13px;

        }
    </style>
    <title>Home Order Page</title>
</head>

<body style="background-color: rgb(240, 255, 254)">
    <h1><u>Make Orders:</u></h1>
    <div class="boxy">


        <div class="order-box">
            <h4 align='center'>Dinner Menu</h4>
            <div class="row">
                <div class="col-9">
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Menu</h6>
                        </div>
                        <div class="col-2">
                            <span>Select</span>
                        </div>
                        <div class="col-2">
                            <h6>Price</h6>
                        </div>

                    </div>
                    <hr>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Chinese Mushroom Set</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 0 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>180</h6>
                        </div>

                    </div>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Steam Rice</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 1 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>150</h6>
                        </div>

                    </div>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>plain Fried Rice</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 0 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>220</h6>
                        </div>

                    </div>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Thakali Set</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 1 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>250</h6>
                        </div>

                    </div>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Mushroom Rice Set</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 0 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>240</h6>
                        </div>

                    </div>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Chinese Rice Set</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 0 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>270</h6>
                        </div>

                    </div>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Fish Rice Set</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 0 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>230</h6>
                        </div>

                    </div>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Roti</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 0 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>100</h6>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Paratha</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 0 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>100</h6>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Shrimp Rice</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 0 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>270</h6>
                        </div>
                    </div>
                </div>

            </div>
            <hr>
        </div>



    </div>








    </div> <br><br>


    <div class="boxy">


        <div class="order-box">
            <h4 align='center'>Breakfast Menu</h4>
            <div class="row">
                <div class="col-9">
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Menu</h6>
                        </div>
                        <div class="col-2">
                            <span>Select</span>
                        </div>
                        <div class="col-2">
                            <h6>Price</h6>
                        </div>

                    </div>
                    <hr>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Cheese cake</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 0 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>180</h6>
                        </div>

                    </div>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Apple Pie</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 1 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>150</h6>
                        </div>

                    </div>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Omellete</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 0 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>220</h6>
                        </div>

                    </div>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Vanilla Sugar</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 1 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>250</h6>
                        </div>

                    </div>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Mushroom Rice Set</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 0 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>240</h6>
                        </div>

                    </div>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Chinese Rice Set</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 0 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>270</h6>
                        </div>

                    </div>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Fish Rice Set</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 0 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>230</h6>
                        </div>

                    </div>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Roti</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 0 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>100</h6>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Paratha</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 0 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>100</h6>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h6>Shrimp Rice</h6>
                        </div>
                        <div class="col-2">
                            <span><i class="fa fa-plus-circle" style="color:rgba(35, 200, 38, 0.849)"></i>
                                &nbsp; 0 &nbsp; <i class="fa fa-minus-circle" style="color:chocolate"></i></span>
                        </div>
                        <div class="col-2">
                            <h6>270</h6>
                        </div>
                    </div>
                </div>

            </div>
            <hr>
        </div>



    </div>








    </div>



</body>

</html>